.owl-carousel {
  .owl-nav {
    margin-top: 0;
  }

  button {
    &.owl-prev,&.owl-next {
      position: absolute;
      top: 50%;
      @include translateY(-50%);

      i {
        font-size: 42px;
        color: $gray-3;
        opacity: .7;
      }

      &:hover {
        background: transparent !important;
        color: $gray-3;
        i {
          opacity: 1;
        }
      }
    }

    &.owl-prev {
      left: -45px;
    }

    &.owl-next {
      right: -45px;
    }
  }
}