// category: Tours, Hotel - Resort, Tour Service, Ve may bay,...

//category-service
.category-post {
  margin-top: 25px;
  margin-bottom: 25px;

  .pages {
    margin-bottom: 50px;
    padding-top: 0;
  }
}

.blog-list {
  [class*="col-"] {
    margin-bottom: 40px;
  }
}

.category-post-content {
  background-color: white;
  padding-bottom: 80px;
  

  .full-content {
    .title {
      text-align: center;
      font-size: 38px;
      text-transform: capitalize;
      margin-bottom: 50px;
      &:before,&:after {
        display: none !important;
      }
    }
  }
}

@include responsive(xs) {
  .blog-list {
    [class*="col-"] {
      margin-bottom: 0;
    }
  }

  .category-post {
    .pages {
      padding-top: 25px;
      margin-bottom: 0;
    }
  }

  .category-post-content {
    padding-bottom: 50px;

    .full-content {
      .title {
        font-size: 32px;
      }
    }
  }
}