.main {
  background-color: $gray-f5;

  .breadcrumb {
    display: block;
    text-align: center;
    padding-top: 50px;
  
    .breadcrumb-item {
      display: inline-block;
    }
  }
}

.list-bank {
  padding: 20px 15px;
  background-color: $gray-fa;
  border: 1px solid $gray-e0;
  @include border-radius(3px);
  margin-top: 15px;
  margin-bottom: 15px;
  
  .bank {
      border-top: 1px solid $gray-e0;
      padding-top: 15px;
      margin-top: 10px;
      
      &:first-child {
          border-top: none;
          padding-top: 0;
          margin-top: 0;
      }
      
      &:after {
          content: '';
          clear: both;
          display: table;
      }
  }
  
  .bank-logo,
  .bank-info {
      float: left;

      img {
        margin-bottom: 0;
      }
  }
  
  .bank-info {
      margin-left: 15px;
  }
  
  p {
      margin-bottom: 6px;
  }
}// end list-bank


.contact-company {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 12px !important;
    i {
      margin-right: 20px;
      color: $mau-xanh-ngoc;
    }
  }
}

h1 {
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 35px;
}

.detail-single {
  padding-bottom: 80px;
}

.detail-single-container {
  background-color: white;
  padding: 70px;
  @include box-shadow(0,5px,15px,rgba(black,.1));

  .content-element {
    .title-element {
      margin-left: 0;
    }

    h2 {
      font-size: 24px;
    }

    ul {
      margin-bottom: 30px;

      li {
        float: none;
        width: 100%;
      }
    }

    .tien-ich {
      padding-left: 20px;
    }
  }
}

@include responsive(xs) {
  .main {
    .breadcrumb {
      padding-top: 25px;
    }
  }

  .list-bank {
    .bank-logo,
    .bank-info {
        float: none;
    }
    
    .bank-logo {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .bank-info {
        margin-left: 0;
    }
  }

  .detail-single-container {
    padding: 40px 20px;
  }

  h1 {
    font-size: 28px;
    text-align: left;
  }

  .content-element {
    ul {
      padding-left: 15px;
    }
    .tien-ich {
      padding-left: 0 !important;
    }
  }
  
}

@include responsive(sm) {
  .main {
    .breadcrumb {
      padding-top: 25px;
    }
  }

  .detail-single-container {
    padding: 40px 20px;
  }

  h1 {
    font-size: 28px;
    text-align: left;
  }

  .content-element {
    ul {
      padding-left: 15px;
    }
    .tien-ich {
      padding-left: 0 !important;
    }
  }
  
}

@include responsive(md) {

  .detail-single-container {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
  }

  .content-element {
    ul {
      padding-left: 15px;
    }
    .tien-ich {
      padding-left: 0 !important;
    }
  }
  
}